.navbar {
    background-color: rgb(85, 128, 143);
    padding: 5px 0px;
    font-size: 10px;
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(235, 235, 235);
    margin: auto;
    font-family: arial;
}

main {
    margin: 0px auto;
    margin-bottom: 20px;
    max-width: 800px;
    text-align: center;
}

input[type="number"] {
    font-weight: bold;
    font-family: arial;
    width: 315px;
    border: 1px solid black;
}

h1 {
    color: white;
    font-family: roboto-slab;
    padding-left: 25px;
}

h2 {
    text-align: center;
}

h4 {
    margin-bottom: 8px;
}

p {
    margin-top: -3px;
    margin-bottom: 40px;
    font-size: 13px;
}

select {
    margin-top: 3px;
    margin-bottom: 10px;
}

textarea {
    font-weight: bold;
    padding-bottom: 0%;
    font-family: arial;
    border: 1px solid black;
}

button {
    margin-top: 5px;
    background-color: rgb(210, 217, 221);
    border-color: rgb(210, 217, 221);
    font-weight: bold;
    font-family: cambria;
    cursor: pointer;
}

button:hover {
    color: white;
    background-color: rgb(85, 128, 143);
    font-size: 90%;
    text-decoration: underline;
}

.hidden {
    display: none;
}

#hidden {
    display: none;
}

footer {
    text-align: center;
    color: white;
    background-color: rgb(85, 128, 143);
    padding: 15px 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

footer p {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

@media (max-width: 600px) {
    .navbar {
        font-size: 8px;
    }

    main {
        padding: 0 10px;
        margin-bottom: 180px;
    }

    select {
        margin-bottom: 13px;
    }

    p {
        font-size: 11px;
    }

    footer p {
        font-size: 12px;
    }
}